<!doctype html><html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>seed-element Demo</title>
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="../ascii-carmen-smile.html">
  </head>
  <body>

    <p>An example of <code>&lt;ascii-carmen-smile with-spling&gt;</code>:</p>

    <ascii-carmen-smile with-spling></ascii-carmen-smile>

  </body>
</html>
